.footer {
    height: 215px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 160px;
}

.redes {
    display: flex;
    box-sizing: border-box;
    gap: 60px;
    align-items: center;
}

.footer strong {
    color: #fff;
}

.redes img {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0 60px;
    }
}

@media screen and (max-width: 576px) {
    .footer {
        padding: 1rem 0;
        flex-direction: column;
    }
}