.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.formulario form {
    max-width: 80%;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    padding: 8px 100px;
    box-sizing: border-box;
}

.formulario h2 {
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}
@media screen and (max-width: 768px) {
    .formulario form {
        padding: 8px 40px;
    }
}

@media screen and (max-width: 576px) {
    .formulario {
        margin: 0;
        padding: 1rem;
    }

    .formulario form {
        min-width: 100%;
        padding: 8px 20px;
    }

    .formulario h2 {
        font-size: 24px;
    }
}