.orgSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 40px;
    color: #6278F7;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: 4px solid #6278F7;
}

.orgSection__contenedor--img {
    position: absolute;
    right: 2rem;
}

.orgSection img {
    cursor: pointer;
    box-sizing: border-box;
}

@media screen and (max-width: 576px) {
    .orgSection {
        align-items: start;
        padding: 0 1rem;
        box-sizing: border-box;
    }
    .title {
        font-size: 24px;
    }

    .orgSection__contenedor--img{
        right: 1rem;
    }
}

